{% extends '../base.html' %}

{% block content %}
	<div class="row index-row index-nav-list">

		<div class="col-lg-4 col-md-4">
			<div class="panel panel-primary">
				<a href="/merchant/inlet/mch">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-3 text-center">
								<i class="fa fa-sitemap fa-5x"></i>
							</div>
							<div class="col-xs-9 text-right">
								<div class="huge">进件管理</div>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>

		<div class="col-lg-4 col-md-4">
			<div class="panel panel-primary">
				<a href="/merchant/balance/mch">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-3 text-center">
								<i class="fa fa-calculator fa-5x"></i>
							</div>
							<div class="col-xs-9 text-right">
								<div class="huge">结算管理</div>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>

		<div class="col-lg-4 col-md-4">
			<div class="panel panel-primary">
				<a href="/merchant/transaction/trade">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-3 text-center">
								<i class="fa fa-exchange fa-5x"></i>
							</div>
							<div class="col-xs-9 text-right">
								<div class="huge">交易管理</div>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
{% end %}

{% block js %}
{% end %}