<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>修改密码</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <!--引入样式-->
    <link rel="stylesheet" href="/static/common/libs/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/common/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/common/css/login.css">
    <link rel="stylesheet" href="/static/common/libs/bootstrap-validator/css/bootstrapValidator.min.css">
</head>
<body>
<div class="padBox">
    <div class="pad-img">
        <img src="/static/common/image/logo_1.png" alt="logo"/>
    </div>
    <div class="stepInfo">
        <div class="Info">
            <div class="backgd"></div>
            <div class="backgd"></div>
        </div>
        <div class="stepIco stepIco1">1
            <div class="stepText">输入账号</div>
        </div>
        <div class="stepIco stepIco2 backgd">2
            <div class="stepText">输入验证码</div>
        </div>
        <div class="stepIco stepIco3 backgd">3
            <div class="stepText">修改密码</div>
        </div>
    </div>


    <form class="form pas-input" method="POST" action="/merchant/resetpasswd/modify">
        {% module xsrf_form_html() %}
        <div class="form-group">
            <input class="form-control" type="password" placeholder="请输入新密码" name="newPwd" id="newPwd"/>
        </div>

        <div class="form-group">
            <input class="form-control" type="password" placeholder="确认密码" name="checkPwd" id="checkPwd"/>
        </div>

        <button class="btn btn-block" id="xBtn" name="xBtn" type="submit">完成</button>

    </form>


    <div class="pad-footer">
        Copyright©2006-2016
    </div>

</div>

<script type="text/javascript" src="/static/common/libs/jquery.min.js"></script>
<script type="text/javascript" src="/static/common/libs/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/common/libs/bootstrap-validator/js/bootstrapValidator.min.js"></script>
<script type="text/javascript" src="/static/common/libs/bootstrap-validator/js/language/zh_CN.js"></script>
<script type="text/javascript">
    $('form').bootstrapValidator({
        message: 'not valid',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            newPwd: {
                validators: {
                    notEmpty: {
                        message: '新密码不能为空'
                    }
                }
            },
            checkPwd: {
                validators: {
                    notEmpty: {
                        message: '确认密码不能为空'
                    },
                    identical: {
                        field: 'newPwd',
                        message: '两次输入密码不一致'
                    }
                }
            }
        }
    });
</script>
</body>
</html>
