{% extends '../base.html' %}

{% block title %}
<title>商户结算(商户)</title>
{% end %}

{% block css %}
{% end %}

{% block content %}

<div class="row index-row">

    <form class="form-inline export-xls" action="/merchant/balance/mch" method="post">
        {% module xsrf_form_html() %}

        <div class="pull-right">
            <button type="submit" class="btn btn-default pull-right" id="search">搜索</button><br>
            <button type="submit" class="btn btn-default" id="exportExcel">导出</button>
        </div>

        <div class="form-group">
            <p class="form-control-static">创建日期:</p>
            <div class="input-group input-daterange">
                <input type="text" class="form_datetime form-control" id="create_at_start" name="create_at_start"
                       placeholder="" value="{{ form.create_at_start.data or ''}}">
                <span class="input-group-addon">—</span>
                <input type="text" class="form_datetime form-control" id="create_at_end" name="create_at_end"
                       placeholder="" value="{{ form.create_at_end.data or '' }}">
            </div>
        </div>

        <div class="form-group">
            <p class="form-control-static">划付状态:</p>
            <select class="form-control" name="pay_status" id="pay_status">
                <option value="0">全部</option>
                <option value="1" {% if form.pay_status.data== 1 %}selected{% end %}>等待划付</option>
                <option value="2" {% if form.pay_status.data== 2 %}selected{% end %}>划付成功</option>
                <option value="3" {% if form.pay_status.data== 3 %}selected{% end %}>划付失败</option>
            </select>
        </div>

        <div class="form-group">
            <p class="form-control-static">支付渠道:</p>
            <select class="form-control search-criteria" name="channel" id="channel">
                <option value="">全部</option>
                <option value="weixin" {% if form.channel.data=='weixin'%}selected{% end %}>微信</option>
                <option value="alipay" {% if form.channel.data=='alipay'%}selected{% end %}>支付宝</option>
                {% if has_jdpay %}
                <option value="jdpay" {% if form.channel.data=='jdpay'%}selected{% end %}>京东支付</option>
                {% end %}
            </select>
        </div>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>结算日期</th>
                <th>交易日期</th>
                <th>商户名称</th>
                <th>商户简称</th>
                <th>结算户名</th>
                <th>支付渠道</th>
                <th>结算账号</th>
                <th>金额</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody id="tbodyBox">

            {% for create_at,need_pay_time,mch_name,mch_shortname,rcvAcctName,channel,balance_account,tranAmt,pay_status,mch_daily_balance_no,_ in data %}
            <tr>
                <td>{{ create_at }}</td>
                <td>{{ need_pay_time }}</td>
                <td>{{ mch_name }}</td>
                <td>{{ mch_shortname }}</td>
                <td>{{ rcvAcctName }}</td>
                <td>{{ channel }}</td>
                <td>{{ balance_account }}</td>
                <td class="formatting-money">{{ tranAmt }}</td>
                <td>{{ pay_status }}</td>
                <td>
                    <a href="/merchant/balance/mch/list?mdb_no={{ mch_daily_balance_no }}">详情</a>
                </td>
            </tr>
            {% end %}
        </tbody>
    </table>
    <div>
        {% autoescape None %}
        {{ navigate_html }}
    </div>
</div>
{% end %}


<!-- 引入js文件  start-->
{% block js %}
<script type="text/javascript"
        src="/static/common/libs/boostratp-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript"
        src="/static/common/libs/boostratp-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<script type="text/javascript" src="/static/common/js/init_time.js"></script>
<script type="text/javascript" src="/static/common/js/tbody_noData.js"></script>
<script type="text/javascript" src="/static/common/js/navigate.js"></script>
<script type="text/javascript">var total_num={{ total_num }};</script>
<script type="text/javascript" src="/static/merchant/js/replaceBalanceMchJumpUrl.js"></script>
{% end %}
<!-- 引入js文件  end-->