*.pyc
*.log
*.lock
.DS_Store
dump.rdb
*/*.xml
.DS_Store
*.pyc
*.pyo
*.egg-info
*.bak
*.pid
*.db
*.swp
# virtualenv
env
.idea
*.sqlite
*.rdb
*.xls
downloads/*
uploads/*
logfile

/.python-version
/uline/data/
/static/uploads/
/uline/static/uploads/
/.cache/
/test/.cache/
/uline_api/static/uploads/
/uline.schema
/uline_trade.schema
/uline.data
/uline_trade.data
/test/mch_inlet_test.py
/.vscode