{% extends '../base.html' %}

{% block title %}
<title>商户交易管理详情(渠道商)</title>
{% end %}

{% block content %}
<div class="row index-row">
	<div class="hf-head">
		<div class="headBox">
			<span class="headLi">
				<img src="/static/common/image/biaozhi.png"  />
				<a href="/dist/transaction/trade">交易管理(商户交易)</a>
				<span class="advancing">></span>
				<a href="javascript:;" >商户交易详情</a>
			</span>
		</div>
	</div>

	<div id="main-content">

		<div class='formlist'>
			<h4>交易信息</h4>
			<div>
				<label>创建时间</label>
				<span>{{ data['created_at'] }}</span>
			</div>

			<div>
                <label>支付时间</label>
                <span>{{ data['complete_at'] }}</span>
            </div>

			<div>
                <label>uline交易号</label>
                <span>{{ data['out_trade_no'] }}</span>
            </div>

            <div>
                <label>第三方交易号</label>
                <span>{{ data['wx_transaction_id'] }}</span>
            </div>

            <div>
                <label>商户交易号</label>
                <span>{{ data['mch_trade_no'] }}</span>
            </div>

			<div>
				<label>商户名称</label>
				<span>{{ data['mch_name'] }}</span>
			</div>

			<div>
				<label>商户简称</label>
				<span>{{ data['mch_shortname'] }}</span>
			</div>

			<div>
				<label>所属渠道商</label>
				<span>{{ data['dt_name'] }}</span>
			</div>

			<div>
				<label>支付类型</label>
				<span>{{ data['trade_type'] }}</span>
			</div>

			<div>
				<label>交易金额</label>
				<span class="formatting-money">{{ data['total_fee'] }}</span>
			</div>

			<div>
				<label>当前状态</label>
				<span>{{ data['trade_state'] }}</span>
			</div>

			<div class="remark">
            	<label>备注</label>
            	<span>{{ data['detail'] }}</span>
            </div>

		</div>
	</div>
</div>
{% end %}

<!-- 引入js文件  start-->
{% block js %}
{% end %}
<!-- 引入js文件  end-->