<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ULINE后台管理系统</title>
    <link rel="stylesheet" href="/static/common/css/step.css" />
    <link rel="stylesheet" href="/static/common/css/ulaiber-loading.css" />
    <link rel="stylesheet" href="/static/common/css/possport.css?v=1" />
</head>
<body class="possport-bg">
<div class="possport-header">
    <img class="fl m-right-10" src="/static/common/image/logo.png"/>
    <span class="fl">ULINE后台管理系统</span>
</div>
<div class="possport-content">
    <h3 class="login-title">修改密码</h3>
    <div class="clearfix">
        <img src="/static/common/image/u99.jpg" class="fr m-top-15" />
        <div class="fl login-form-box m-left-20">
            <div class="step-list step-list-forget" style="margin-left:-30px;">
                <ul class="clearfix">
                    <li class="on">
                        <i>1</i>
                        <span class="right"></span>
                        <p>输入账号</p>
                    </li>
                    <li>
                        <i>2</i>
                        <span></span>
                        <p>输入验证码</p>
                    </li>
                    <li>
                        <i>3</i>
                        <span class="left"></span>
                        <p>修改密码</p>
                    </li>
                </ul>
            </div>
            <div class="step-list step-list-reset step-hide" style="margin-left:-10px;">
                <ul class="clearfix">
                    <li class="on">
                        <i>1</i>
                        <span class="right"></span>
                        <p>输入验证码</p>
                    </li>
                    <li>
                        <i>2</i>
                        <span class="left"></span>
                        <p>修改密码</p>
                    </li>
                </ul>
            </div>
            <!--第一步-->
            <div class="step-box ">
                <div class="login-form m-bottom-15 m-top-30">
                    <p>登录账号</p>
                    <div class="login-input">
                        <input type="text" placeholder="请输入登录账号" name="login_name" />
                    </div>
                </div>
                <p class="c-999 fs12">若忘记账号，请联系管理员核实；服务商账号可联系客服4008047555</p>
                <p class="tip-error m-top-15"></p>
                <span class="btn btn-red m-top-20" data-click="verifyName">下一步</span>
            </div>
            <!--第二步-->
            <div class="step-box step-hide">
                <div class="login-form m-bottom-15 m-top-30">
                    <p>验证码</p>
                    <div class="login-input">
                        <input type="text" maxlength="6" placeholder="请输入6位验证码" name="auth_code" />
                        <span class="login-input-btn tc" data-click="getAuthCode">获取验证码</span>
                    </div>
                    <span class="auth-code-tip c-999"></span>
                </div>
                <p class="tip-error m-top-15"></p>
                <span class="btn btn-red m-top-20" data-click="verifyAuthCode">下一步</span>
            </div>
            <!--第三步-->
            <div class="step-box step-hide">
                <div class="login-form m-bottom-15 m-top-30">
                    <p>设置新密码</p>
                    <div class="login-input">
                        <input type="password" placeholder="6~20个字符，不支持空格" name="newPwd" />
                    </div>
                </div>
                <div class="login-form m-bottom-15 ">
                    <p>确认新密码</p>
                    <div class="login-input">
                        <input type="password" placeholder="6~20个字符，不支持空格" name="checkPwd" />
                    </div>
                </div>
                <p class="tip-error m-top-15"></p>
                <span class="btn btn-red m-top-20" data-click="verifyPassword">完成</span>
            </div>
        </div>
    </div>
</div>
<script src="/static/common/libs/jquery.min.js"></script>
<script src="/static/common/js/ulaiber_loading.js"></script>
<script src="/static/common/js/possport_controller.js?v=15"></script>
</body>
</html>