
{% extends '../base.html' %}

{% block title %}
<title>连锁门店进件(官方)</title>
{% end %}

{% block css %}
{% end %}

{% block content %}

	<div class="row index-row">

        <form class="form-inline export-xls" action="/official/inlet/cs" method="post">
            {% module xsrf_form_html() %}

            <div class="pull-right">
                <button type="submit" class="btn btn-default pull-right" id="search">查询</button><br>
                <button type="submit" class="btn btn-default" id="exportExcel">导出</button>
            </div>

            <div class="form-group">
                <p class="form-control-static">创建日期:</p>
                <div class="input-group input-daterange">
                    <input type="text" class="form_datetime form-control search-criteria" id="create_at_start" name="create_at_start"
                           placeholder="" value="{{ form.create_at_start.data or ''}}">
                    <span class="input-group-addon">—</span>
                    <input type="text" class="form_datetime form-control search-criteria" id="create_at_end" name="create_at_end"
                           placeholder="" value="{{ form.create_at_end.data or '' }}">
                </div>
            </div>

            <div class="form-group">
                <p class="form-control-static">激活状态:</p>
                <select class="form-control search-criteria" name="activated_status" title="" id="activated_status">
                    <option value="0">全部</option>
                    <option value="1" {% if form.activated_status.data == 1 %}selected{% end %}>未激活</option>
                    <option value="2" {% if form.activated_status.data == 2 %}selected{% end %}>已激活</option>
                </select>
            </div>

            <div class="form-group">
                <p class="form-control-static">审核状态:</p>
                <select class="form-control search-criteria" name="auth_status" id="auth_status">
                    <option value="0">全部</option>
                    {% if open_review == True %}
                        <option value="1" {% if form.auth_status.data == 1 %}selected{% end %}>初审中</option>
                    {% elif open_review == False %}
                        <option value="1" {% if form.auth_status.data == 1 %}selected{% end %}>审核中</option>
                    {% end %}
                    <option value="2" {% if form.auth_status.data == 2 %}selected{% end %}>审核通过</option>
                    <option value="3" {% if form.auth_status.data == 3 %}selected{% end %}>审核驳回</option>
                    {% if open_review == True %}
                        <option value="4" {% if form.auth_status.data == 4 %}selected{% end %}>复审中</option>
                    {% end %}
                </select>
            </div>
            {% if INTER_BANK %}
            <div class="form-group">
                <p class="form-control-static">拓展方式:</p>
                <select class="form-control search-criteria" name="expand_type" id="expand_type">
                    <option value="0">全部</option>
                    <option value="1" {% if form.expand_type.data == 1 %}selected{% end %}>主银行拓展</option>
                    <option value="2" {% if form.expand_type.data == 2 %}selected{% end %}>同业银行拓展</option>
                </select>
            </div>

            <div class="form-group">
                <p class="form-control-static">所属银行名称:</p>
                <input type="text" class="form-control search-criteria" id="bk_name" name="bk_name" value="{{ form.bk_name.data or '' }}" placeholder="所属银行名称"/>
            </div>

            <div class="form-group">
                <p class="form-control-static">所属银行编号:</p>
                <input type="text" class="form-control search-criteria" id="bk_id" name="bk_id" value="{{ form.bk_id.data or '' }}" placeholder="所属银行编号"/>
            </div>
            {% end %}
            <div class="form-group">
                <p class="form-control-static">所属商户名称:</p>
                <input type="text" class="form-control search-criteria" name="cs_name" id="cs_name" value="{{ form.cs_name.data or '' }}" placeholder="所属商户名称"/>
            </div>

            <div class="form-group">
                <p class="form-control-static">所属商户编号:</p>
                <input type="text" class="form-control search-criteria" name="cs_id" id="cs_id" value="{{ form.cs_id.data or '' }}" placeholder="所属商户编号"/>
            </div>

            <div class="form-group">
                <p class="form-control-static">门店简称:</p>
                <input type="text" class="form-control search-criteria" id="short_name" name="short_name" value="{{ form.short_name.data or '' }}" placeholder="门店简称"/>
            </div>

            <div class="form-group">
                <p class="form-control-static">门店编号:</p>
                <input type="text" class="form-control search-criteria" id="mch_id" name="mch_id" value="{{ form.mch_id.data or '' }}" placeholder="门店编号"/>
            </div>

		</form>

		<div id="tableBox">
            <div class="tab_left">
                <table class="table">
                    <thead>
                        <tr>
                            <th>门店编号</th>
                            <th>所属商户名称</th>
                            <th>门店简称</th>
                            <th>激活状态</th>
                            <th>审核状态</th>
                        </tr>
                    </thead>
                    <tbody id="tbodyBox">

                        {% for mch_id,cs_name,mch_shortname,activated_status,auth_status,_,cs_short_name,_,has_risk,_ in data %}
                        <tr onclick="openNewTable({{ mch_id }});return false" id="tr_{{ mch_id }}">
                            <td>{{ mch_id }}</td>
                            <td>{{ cs_name }}</td>
                            <td>{{cs_short_name}}<a style="text-decoration: none;">({{ mch_shortname }})</a></td>
                            <td>{% if activated_status == 1 %}未激活{% elif activated_status == 2 %}已激活{% end %}</td>
                            <td>
                                {{print_status(auth_status)}}
                                {% if has_risk>0 and auth_status in (1,4) %}
                                <i class="icon-risk-error">!</i>
                                {% end %}
                            </td>
                        </tr>
                        {% end %}

                    </tbody>
                </table>

                <!--分页-->
                <div>
                    {% autoescape None %}
                    {{ navigate_html }}
                </div>
            </div>

            <div class="pull-right" id="mchPayInfo"></div>
        </div>
        <div class='passBox' style='display:none'>操作成功</div>

	</div>
{% end %}

<!-- 引入js文件  start-->
{% block js %}
<script type="text/javascript"> var total_num={{ total_num }};var QR_SCAN_URL="{{ QR_SCAN_URL }}";</script>
<script type="text/javascript" src="/static/common/js/role.js"></script>
<script type="text/javascript" src="/static/official/js/get_cs_info.js"></script>
<script type="text/javascript" src="/static/official/js/replaceInletcsJumpUrl.js"></script>
{% end %}
<!-- 引入js文件  end-->
