{% extends '../base.html' %}

{% block title %}
<title>修改渠道商进件</title>
{% end %}

{% block css %}
<link rel="stylesheet" href="/static/common/css/pay-type.css">
<link rel="stylesheet" href="/static/common/css/inlet.css">
{% end %}

{% block content %}
<div class="row index-row">

    <div class="headBox">
        <span class="headLi">
            <img src="/static/common/image/biaozhi.png"/>
            <a href="javascript:;">进件管理(渠道进件)</a>
            <span class="advancing">></span>
            <a href="javascript:;">修改渠道进件</a>
        </span>
    </div>


    <form class="form-horizontal" method="post" role="form" action="/official/inlet/dt/modify" enctype="multipart/form-data">
        {% module xsrf_form_html() %}

        <div class="newheadBox">
            <p>联系信息</p>

            <div class="form-group hidden">
                <label for="dt_id" class="col-md-4 control-label">渠道商编号</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" id="dt_id" name="dt_id" placeholder="" readonly="readonly"
                           required="required" value="{{ form.dt_id.data or ''}}">
                </div>
            </div>

            <div class="newMchBox">
                <div class="form-group ">
                    <label for="contact" class="col-md-4 control-label">联系人</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="contact" placeholder="请输入姓名" name="contact"
                               required="required" value="{{ form.contact.data or '' }}">
                    </div>
                </div>

                <div class="form-group ">
                    <label for="mobile" class="col-md-4 control-label">手机号码</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="mobile" placeholder="请输入手机号码" name="mobile"
                               maxlength="11" required="required" value="{{ form.mobile.data or '' }}">
                    </div>
                </div>

                <div class="form-group ">
                    <label for="email" class="col-md-4 control-label">电子邮箱</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="email" placeholder="请输入邮箱" name="email"
                               required="required" value="{{ form.email.data or '' }}">
                    </div>
                </div>

            </div>

        </div>

        <div class="newheadBox ">
            <p>经营信息</p>
            <div class="newMchBox">

                <div class="form-group has-edit">
                    <label class="col-md-4 control-label">商户类型</label>
                    <div class="col-md-8 ">
                        <select class="form-control" id="area" name="jobBox" required ></select>
                    </div>
                    <input value="" id="jobType" name="jobType" class="hidden">
                </div>

                <div class="form-group has-edit">
                    <label class="col-md-4 control-label ">经营类目</label>
                    <div class="col-md-8 ">
                        <select class="form-control" id="cmbProvince" required></select>
                        <select class="form-control" id="cmbCity" required></select>
                        <select class="form-control" id="cmbArea" required></select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="servicePhone" class="col-md-4 control-label">客服电话</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="servicePhone" placeholder="请输入客服电话"
                               name="servicePhone"
                               required="required" value="{{ form.servicePhone.data or '' }}">
                    </div>
                </div>

            </div>

        </div>

        <div class="newheadBox">
            <p>渠道信息</p>
            <div class="newMchBox">
                {% if bk_type == 1 %}
                <div class="form-group has-edit">
                    <label for="dtType" class="col-md-4 control-label">渠道商类型</label>
                    <div class="col-md-8">
                        <span>
                             <input type="radio" name="dtType" id="dtType" value="1" {% if form.dtType.data == 1 %}checked{% end %}> 普通渠道商
                         </span>
                        <span>
                             <input type="radio" name="dtType" id="dtTypeBank" value="2" {% if form.dtType.data == 2 %}checked{% end %}>  银行内部渠道商
                        </span>

                    </div>
                </div>
                {% end %}
                {% if bk_type == 2 %}
                <div class="form-group has-edit">
                    <label for="dtType" class="col-md-4 control-label">渠道商类型</label>
                    <div class="col-md-8">
                        <span class="float-left m-right-5">
                             <input type="radio" name="bankType" checked readonly value="2">  间连
                        </span>
                        <span class="col-md-5 bankTypeChoose">
                            <input type="text" class="form-control" disabled value="{{ form.bk_name.data}}">
                        </span>
                    </div>
                </div>
                {% end %}
                <div class="form-group has-edit">
                    <label for="dtName" class="col-md-4 control-label">渠道商名称</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="dtName" name="dtName" placeholder="请输入名字"
                               required="required" value="{{ form.dtName.data or ''}}">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label">省市</label>
                    <div class="distpicker col-md-8">
                        <div><select name="province" class="form-control " id="province4" data-province="{{ form.province.data or '' }}" required></select></div>
                        <div><select name="city" class="form-control " id="city4" data-city="{{ form.city.data or '' }}"  required></select></div>
                        <div><select name="district" class="form-control " id="district4" data-district="{{ form.district.data or '' }}" required></select></div>
                    </div>
                </div>

                <div class="form-group ">
                    <label for="address" class="col-md-4 control-label">联系地址</label>

                    <div class="col-md-8">
                        <input type="text" class="form-control" id="address" placeholder="请输入地址" name="address"
                               required="required" value="{{ form.address.data or '' }}">
                    </div>
                </div>

                <div class="form-group">
                    <label for="servicePhone" class="col-md-4 control-label">客服电话</label>

                    <div class="col-md-8">
                        <input type="text" class="form-control" id="servicePhone" placeholder="请输入客服电话"
                               name="servicePhone"
                               required="required" value="{{ form.servicePhone.data or form.mobile.data }}">
                    </div>
                </div>
            </div>



        </div>

        <div class="newheadBox">
            <p>责任人信息</p>
            <div class="newMchBox">
                <div class="form-group ">
                    <label for="idCard" class="col-md-4 control-label">身份证号码</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="idCard" placeholder="请输入身份证号码" name="idCard"
                               required="required" value="{{ form.idCard.data or '' }}">
                    </div>
                </div>

                <div class="form-group lastForm">
                    <label for="imgCardFront" class="col-md-4 control-label">
                        <p>身份证正反面</p>
                        <div class="picImg">图片限制在<br>300KB以内</div>
                    </label>
                    <div class="col-md-8" id="test">
                        <div id="cardPositive">
                            <span>身份证正面</span>
                            {% if form.imgCardFrontOld.data %}
                            <img id="pic1" src="{{ form.imgCardFrontOld.data }}" />
                            {% else %}
                            <img id="pic1" src="/static/common/image/pic.png" />
                            {% end %}
                            <input id="imgCardFront" type="file" name="imgCardFront" accept="image/png, image/jpeg">
                            <input class="hidden" id="imgCardFrontOld" name="imgCardFrontOld" value="{{ form.imgCardFrontOld.data }}" readonly="readonly">
                        </div>
                        <div id="cardNegative col-md-2">
                            <span>身份证反面</span>
                            {% if form.imgCardBackOld.data %}
                            <img id="pic2" src="{{ form.imgCardBackOld.data }}" />
                            {% else %}
                            <img id="pic2" src="/static/common/image/pic.png" />
                            {% end %}
                            <input id="imgCardBack" type="file" name="imgCardBack" accept="image/png, image/jpeg">
                            <input class="hidden" id="imgCardBackOld" name="imgCardBackOld" value="{{ form.imgCardBackOld.data }}" readonly="readonly">
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="newheadBox">
            <p>营业执照信息</p>
            <div class="newMchBox">
                <div class="form-group">
                    <label for="licenseNum" class="col-md-4 control-label">营业执照注册号</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="licenseNum" placeholder="请输入营业执照注册号" name="licenseNum"
                               required="required" value="{{ form.licenseNum.data or '' }}">
                    </div>
                </div>

                <div class="form-group">
                    <label for="licenseNum" class="col-md-4 control-label">营业期限</label>
                    <div class="col-md-3" id="licenseStartDate-div">
                        <input type="text" class="form-control" id="licenseStartDate" placeholder="请选择证件开始日期" name="licenseStartDate"
                               required="required" value="{{ form.licenseStartDate.data or '' }}">
                    </div>
                    <div class="col-md-3" id="licenseEndDate-div">
                        <input type="text" class="form-control" id="licenseEndDate" placeholder="请选择证件结束日期" name="licenseEndDate"  value="{{ form.licenseEndDate.data or '' }}">
                    </div>
                    <div class="col-md-2 checkbox">
                        <label>
                            <input type="checkbox" id="licensePeriod" name="licensePeriod"
                            {% if form.licensePeriod.data == '2' %} checked="checked"{% end %}> 长期
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="licenseNum" class="col-md-4 control-label">营业范围</label>
                    <div class="col-md-8">
                        <textarea class="form-control" rows="3"  id="licenseScope" placeholder="与企业工商营业执照上一致" name="licenseScope">
                            {{ form.licenseScope.data or '' }}
                        </textarea>
                    </div>
                </div>

                <div class="form-group lastForm">
                    <label for="imgCardFront" class="col-md-4 control-label">
                        <span>营业执照照片</span>
                        <div class="picImg">图片限制在<br>500kb以内</div>
                    </label>
                    <div class="col-md-8">
                        <div id="cardPositive">
                            <span>营业执照照片</span>
                            {% if form.licenseImgOld.data %}
                            <img id="pic3" src="{{ form.licenseImgOld.data }}" />
                            {% else %}
                            <img id="pic3" src="/static/common/image/pic.png" />
                            {% end %}
                            <input id="licenseImg" type="file" name="licenseImg" accept="image/png, image/jpeg">
                            <input class="hidden" id="licenseImgOld" name="licenseImgOld" value="{{ form.licenseImgOld.data }}" readonly="readonly">
                        </div>
                    </div>
                </div>

            </div>

        </div>

         <div class="newheadBox">
            <p>结算信息</p>
            <div class="newMchBox">
                <div class="form-group">
                    <label for="balanceType" class="col-md-4 control-label">结算账号类型</label>
                    <div class="col-md-8">
                        <select class="form-control" title="" id="balanceType" name="balanceType">
                            <!--<option value="">请选择交易类型</option>-->
                            <option value="1" {% if form.balanceType.data == 1 %}selected{% end %}>企业</option>
                            <option value="2" {% if form.balanceType.data == 2 %}selected{% end %}>个人</option>
                        </select>
                    </div>
                </div>

                <div class="form-group ">
                    <label for="balanceName" class="col-md-4 control-label">结算户名</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="balanceName" placeholder="请输入结算户名"
                               name="balanceName" required="required" value="{{ form.balanceName.data or '' }}">
                    </div>
                </div>

                <div class="form-group">
                    <label for="bankNo" class="col-md-4 control-label">结算银行</label>
                    <div class="col-md-8">
                        <select class="form-control" id="bankNo" name="bankNo" title="">
                            {% if form.bankNo.data %}
                            <option value="{{ form.bankNo.data }}" selected>{{ form.bankName }}</option>
                            {% end %}
                        </select>
                    </div>
                </div>

                <div class="form-group ">
                    <label for="balanceNo" class="col-md-4 control-label">结算账户</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="balanceNo" placeholder="请输入结算账户" name="balanceNo"
                               required="required" value="{{ form.balanceNo.data or '' }}">
                    </div>
                </div>

            </div>

        </div>

        <div class="newheadBox">
            <p>支付信息</p>
            <div class="base-inlet-box">
                <div class="base-inlet-form clearfix base-inlet-payment">
                    <span class="base-inlet-label float-left">支付渠道</span>
                    <div class="base-inlet-checkbox float-left">
                        <input type="checkbox" value="wx"/>
                        <span>微信</span>
                    </div>
                    <div class="base-inlet-checkbox float-left">
                        <input type="checkbox" value="alipay" />
                        <span>支付宝</span>
                    </div>
                    {% if jd_pay %}
                    <div class="base-inlet-checkbox float-left">
                        <input type="checkbox" value="jdpay" />
                        <span>京东支付</span>
                    </div>
                    {% end %}
                    {% if can_use_unionpay %}
                    <div class="base-inlet-checkbox float-left">
                        <input type="checkbox" value="unionpay" />
                        <span>银联二维码支付</span>
                    </div>
                    {% end %}
                </div>
                <!------------------------------------  微信  ------------------------------------------->
                <div class="base-inlet-pay base-inlet-rate-wx base-hide">
                    <h3 class="base-inlet-pay-title">微信支付</h3>
                    <div class="base-padding-20">
                        <div class="base-inlet-form clearfix">
                            <span class="base-inlet-label float-left">通道类型：</span>
                            <div class="base-inlet-checkbox float-left">
                                <input type="radio" class="base-type-choose" name="base-type-wx" value="1" checked />
                                <span>普通通道</span>
                            </div>
                            <div class="base-inlet-checkbox float-left">
                                <input type="radio" class="base-type-choose" name="base-type-wx" value="2" />
                                <span>零费率通道</span>
                            </div>
                        </div>
                        <div class="base-inlet-form base-inlet-scene clearfix base-m-tb-20">
                            <span class="base-inlet-label float-left">交易场景：</span>
                            <div class="base-inlet-checkbox float-left">
                                <input type="checkbox" pay-scene="scene-online" value="online" />
                                <span>线上</span>
                            </div>
                            <div class="base-inlet-checkbox float-left">
                                <input type="checkbox" pay-scene="scene-offline" value="offline" />
                                <span>线下</span>
                            </div>
                            <div class="base-inlet-checkbox float-left">
                                <input type="checkbox" pay-scene="scene-dine" value="dine" />
                                <span>围餐零费率</span>
                            </div>
                        </div>
                        <div class="base-inlet-form base-inlet-scene-input clearfix base-m-tb-20">
                            <span class="base-inlet-label float-left">渠道号：</span>
                            <div class="clearfix base-inlet-label-text">
                                <div class="clearfix base-hide" pay-scene="scene-online">
                                    <div class="base-inlet-checkbox float-left">
                                        <span>线上渠道号</span>
                                    </div>
                                    <div class="base-inlet-input float-left">
                                        <input type="text" name="wxAppChannelId" value="{% if form.wxAppChannelId.data != None%}{{ form.wxAppChannelId.data }}{% end %}" placeholder="请输入微信渠道号" disabled />
                                    </div>
                                </div>
                                <div class="clearfix base-hide" pay-scene="scene-offline">
                                    <div class="base-inlet-checkbox float-left">
                                        <span>线下渠道号</span>
                                    </div>
                                    <div class="base-inlet-input float-left">
                                        <input type="text" name="wxChannelId" value="{% if form.wxChannelId.data != None%}{{ form.wxChannelId.data }}{% end %}" placeholder="请输入微信渠道号" disabled />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="base-inlet-form base-inlet-rate clearfix base-m-tb-20 base-hide">
                            <p class="base-inlet-label">配置费率：</p>
                            <table class="base-inlet-table base-rate-common">
                                <thead>
                                    <tr>
                                        <th>选择</th>
                                        <th>支付类型</th>
                                        <th>费率（‰）</th>
                                    </tr>
                                </thead>
                                <tbody class="rate-body ">
                                    <tr pay-type="type-offline" class="rate-common-false">
                                        <td></td>
                                        <td class="text-bold">线下</td>
                                        <td></td>
                                    </tr>
                                    <tr pay-type="type-offline">
                                        <td><i class="base-icon-checkbox"></i></td>
                                        <td>扫码支付</td>
                                        <td><input type="text" name="WX_OFFLINE_NATIVE"
                                                                      value="{% if form.WX_OFFLINE_NATIVE.data != None%}{{ form.WX_OFFLINE_NATIVE.data }}{% end %}" disabled /></td>
                                    </tr>
                                    <tr pay-type="type-offline">
                                        <td><i class="base-icon-checkbox"></i></td>
                                        <td>刷卡支付</td>
                                        <td><input type="text"  name="WX_OFFLINE_MICROPAY"
                                                                      value="{% if form.WX_OFFLINE_MICROPAY.data != None%}{{ form.WX_OFFLINE_MICROPAY.data }}{% end %}" disabled /></td>
                                    </tr>
                                    <tr pay-type="type-offline">
                                        <td><i class="base-icon-checkbox"></i></td>
                                        <td>公众号支付</td>
                                        <td><input type="text"  name="WX_OFFLINE_JSAPI"
                                                                      value="{% if form.WX_OFFLINE_JSAPI.data != None%}{{ form.WX_OFFLINE_JSAPI.data }}{% end %}" disabled /></td>
                                    </tr>
                                    <tr pay-type="type-online">
                                        <td></td>
                                        <td class="text-bold">线上</td>
                                        <td></td>
                                    </tr>
                                    <!--<tr pay-type="type-online">
                                        <td><i class="base-icon-checkbox"></i></td>
                                        <td>扫码支付</td>
                                        <td><input type="text"  name="WX_ONLINE_NATIVE"
                                                                      value="{% if form.WX_ONLINE_NATIVE.data != None%}{{ form.WX_ONLINE_NATIVE.data }}{% end %}" disabled /></td>
                                    </tr>
                                    <tr pay-type="type-online">
                                        <td><i class="base-icon-checkbox"></i></td>
                                        <td>公众号支付</td>
                                        <td><input type="text"  name="WX_ONLINE_JSAPI"
                                                                      value="{% if form.WX_ONLINE_JSAPI.data != None%}{{ form.WX_ONLINE_JSAPI.data }}{% end %}" disabled /></td>
                                    </tr>-->
                                    <tr pay-type="type-online">
                                        <td><i class="base-icon-checkbox"></i></td>
                                        <td>APP支付</td>
                                        <td><input type="text"  name="WX_ONLINE_APP"
                                                                      value="{% if form.WX_ONLINE_APP.data != None%}{{ form.WX_ONLINE_APP.data }}{% end %}" disabled /></td>
                                    </tr>
                                    <tr pay-type="type-online">
                                        <td><i class="base-icon-checkbox"></i></td>
                                        <td>H5支付</td>
                                        <td><input type="text"  name="WX_ONLINE_MWEB"
                                                                      value="{% if form.WX_ONLINE_MWEB.data != None%}{{ form.WX_ONLINE_MWEB.data }}{% end %}" disabled /></td>
                                    </tr>
                                    <tr pay-type="type-dine">
                                        <td></td>
                                        <td class="text-bold">围餐</td>
                                        <td></td>
                                    </tr>
                                    <tr pay-type="type-dine">
                                        <td><i class="base-icon-checkbox checked disabled"></i></td>
                                        <td>扫码支付</td>
                                        <td><input type="text"  value="0" name="WX_DINE_NATIVE" copy-value="{% if form.WX_DINE_NATIVE.data != None%}{{ form.WX_DINE_NATIVE.data }}{% end %}" disabled readonly /></td>
                                    </tr>
                                    <tr pay-type="type-dine">
                                        <td><i class="base-icon-checkbox checked disabled"></i></td>
                                        <td>刷卡支付</td>
                                        <td><input type="text"  value="0" name="WX_DINE_MICROPAY" copy-value="{% if form.WX_DINE_NATIVE.data != None%}{{ form.WX_DINE_NATIVE.data }}{% end %}" disabled readonly /></td>
                                    </tr>
                                    <tr pay-type="type-dine">
                                        <td><i class="base-icon-checkbox checked disabled"></i></td>
                                        <td>公众号支付</td>
                                        <td><input type="text"  value="0" name="WX_DINE_JSAPI" copy-value="{% if form.WX_DINE_NATIVE.data != None%}{{ form.WX_DINE_NATIVE.data }}{% end %}" disabled readonly /></td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="base-inlet-table base-rate-zero base-hide">
                                <thead>
                                    <tr>
                                        <th>选择</th>
                                        <th>支付类型</th>
                                        <th>费率（‰）</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><i class="base-icon-checkbox"></i></td>
                                        <td>扫码支付</td>
                                        <td><input type="text"  value="0" name="WX_ZERO_NATIVE" diff-val="{% if form.WX_ZERO_NATIVE.data != None%}{{ form.WX_ZERO_NATIVE.data }}{% end %}" disabled readonly /></td>
                                    </tr>
                                    <tr>
                                        <td><i class="base-icon-checkbox"></i></td>
                                        <td>刷卡支付</td>
                                        <td><input type="text"  value="0" name="WX_ZERO_MICROPAY" diff-val="{% if form.WX_ZERO_MICROPAY.data != None%}{{ form.WX_ZERO_MICROPAY.data }}{% end %}" disabled readonly /></td>
                                    </tr>
                                    <tr>
                                        <td><i class="base-icon-checkbox"></i></td>
                                        <td>公众号支付</td>
                                        <td><input type="text"  value="0" name="WX_ZERO_JSAPI" diff-val="{% if form.WX_ZERO_JSAPI.data != None%}{{ form.WX_ZERO_JSAPI.data }}{% end %}" disabled readonly /></td>
                                    </tr>
                                </tbody>
                            </table>
                            <!--DO业务-->
                            <div class="base-inlet-form base-inlet-d0 clearfix base-m-tb-20">
                                <span class="base-inlet-label float-left">D0商户业务：</span>
                                <div class="clearfix base-inlet-label-text">
                                    <div class=" clearfix">
                                        <input type="checkbox" class="base-rate-d0" value="d0" />
                                        <span>开通</span>
                                    </div>
                                    <div class="base-hide">
                                        <div class="clearfix" style="margin-bottom:15px;">
                                            <div class="base-inlet-checkbox float-left">
                                                <span>D0垫资费率</span>
                                            </div>
                                            <div class="base-inlet-input float-left">
                                                <input type="text" name="wx_draw_rate" value="{% if form.wx_draw_rate.data != None%}{{ form.wx_draw_rate.data }}{% end %}" placeholder="请输入D0垫资费率" disabled />
                                            </div>
                                            <span class="float-left m-left-5">‰</span>
                                        </div>
                                        <div class="clearfix">
                                            <div class="base-inlet-checkbox float-left">
                                                <span>D0代付费用</span>
                                            </div>
                                            <div class="base-inlet-input float-left">
                                                <input type="text" name="wx_draw_fee" value="{% if form.wx_draw_fee.data != None%}{{ form.wx_draw_fee.data }}{% end %}" placeholder="请输入D0代付费用" disabled />
                                                <p style="font-size:12px;color:#999;">每笔提现手续费,精确到小数点后两位</p>
                                            </div>
                                            <span class="float-left m-left-5">元/笔</span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!------------------------------------  支付宝  ------------------------------------------->
                <div class="base-inlet-pay base-inlet-rate-alipay base-hide">
                    <h3 class="base-inlet-pay-title">支付宝</h3>
                    <div class="base-padding-20">
                        <div class="base-inlet-form base-inlet-scene clearfix base-m-tb-20">
                            <span class="base-inlet-label float-left">PID：</span>
                            <div class="base-inlet-input float-left">
                                <input type="text" name="alipay_pid" value="{% if form.alipay_pid.data != None%}{{ form.alipay_pid.data }}{% end %}" />
                            </div>
                        </div>
                        <div class="base-inlet-form clearfix">
                            <span class="base-inlet-label float-left">通道类型：</span>
                            <div class="base-inlet-checkbox float-left">
                                <input type="radio" class="base-type-choose" name="base-type-ali" value="1" checked />
                                <span>普通通道</span>
                            </div>
                            <!--<div class="base-inlet-checkbox float-left">
                                <input type="radio" class="base-type-choose" name="base-type-ali" value="2" />
                                <span>零费率通道</span>
                            </div>-->
                        </div>
                        <div class="base-inlet-form base-inlet-scene clearfix base-m-tb-20">
                            <span class="base-inlet-label float-left">交易场景：</span>
                            <div class="base-inlet-checkbox float-left">
                                <input type="checkbox" pay-scene="scene-offline" value="offline" checked disabled />
                                <span>线下</span>
                            </div>
                        </div>
                        <div class="base-inlet-form base-inlet-rate clearfix base-m-tb-20">
                            <p class="base-inlet-label">配置费率：</p>
                            <table class="base-inlet-table base-rate-common">
                                <thead>
                                    <tr>
                                        <th>选择</th>
                                        <th>支付类型</th>
                                        <th>D+1费率（‰）</th>
                                    </tr>
                                </thead>
                                <tbody class="rate-body">
                                    <tr pay-type="type-offline" class="rate-common-false">
                                        <td></td>
                                        <td class="text-bold">线下</td>
                                        <td></td>
                                    </tr>
                                    <tr pay-type="type-offline">
                                        <td><i class="base-icon-checkbox"></i></td>
                                        <td>扫码支付</td>
                                        <td><input type="text" name="ALI_OFFLINE_NATIVE"
                                                                      value="{% if form.ALI_OFFLINE_NATIVE.data != None%}{{ form.ALI_OFFLINE_NATIVE.data }}{% end %}" disabled /></td>
                                    </tr>
                                    <tr pay-type="type-offline">
                                        <td><i class="base-icon-checkbox"></i></td>
                                        <td>刷卡支付</td>
                                        <td><input type="text"  name="ALI_OFFLINE_MICROPAY"
                                                                      value="{% if form.ALI_OFFLINE_MICROPAY.data != None%}{{ form.ALI_OFFLINE_MICROPAY.data }}{% end %}" disabled /></td>
                                    </tr>
                                    <tr pay-type="type-offline">
                                        <td><i class="base-icon-checkbox"></i></td>
                                        <td>公众号支付</td>
                                        <td><input type="text"  name="ALI_OFFLINE_JSAPI"
                                                                      value="{% if form.ALI_OFFLINE_JSAPI.data != None%}{{ form.ALI_OFFLINE_JSAPI.data }}{% end %}" disabled /></td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="base-inlet-table base-rate-zero base-hide">
                                <thead>
                                    <tr>
                                        <th>选择</th>
                                        <th>支付类型</th>
                                        <th>费率（‰）</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><i class="base-icon-checkbox"></i></td>
                                        <td>扫码支付</td>
                                        <td><input type="text"  value="0" name="ALI_ZERO_NATIVE" diff-val="{% if form.ALI_ZERO_NATIVE.data != None%}{{ form.ALI_ZERO_NATIVE.data }}{% end %}" disabled readonly /></td>
                                    </tr>
                                    <tr>
                                        <td><i class="base-icon-checkbox"></i></td>
                                        <td>刷卡支付</td>
                                        <td><input type="text"  value="0" name="ALI_ZERO_MICROPAY" diff-val="{% if form.ALI_ZERO_MICROPAY.data != None%}{{ form.ALI_ZERO_MICROPAY.data }}{% end %}" disabled readonly /></td>
                                    </tr>
                                    <tr>
                                        <td><i class="base-icon-checkbox"></i></td>
                                        <td>公众号支付</td>
                                        <td><input type="text"  value="0" name="ALI_ZERO_JSAPI" diff-val="{% if form.ALI_ZERO_JSAPI.data != None%}{{ form.ALI_ZERO_JSAPI.data }}{% end %}" disabled readonly /></td>
                                    </tr>
                                </tbody>
                            </table>
                            <!--DO业务-->
                            <div class="base-inlet-form base-inlet-d0 clearfix base-m-tb-20">
                                <span class="base-inlet-label float-left">D0商户业务：</span>
                                <div class="clearfix base-inlet-label-text">
                                    <div class=" clearfix">
                                        <input type="checkbox" class="base-rate-d0" value="d0" />
                                        <span>开通</span>
                                    </div>
                                    <div class="base-hide">
                                        <div class="clearfix" style="margin-bottom:15px;">
                                            <div class="base-inlet-checkbox float-left">
                                                <span>D0垫资费率</span>
                                            </div>
                                            <div class="base-inlet-input float-left">
                                                <input type="text" name="ali_draw_rate" value="{% if form.ali_draw_rate.data != None%}{{ form.ali_draw_rate.data }}{% end %}" placeholder="请输入D0垫资费率" disabled />
                                            </div>
                                            <span class="float-left m-left-5">‰</span>
                                        </div>
                                        <div class="clearfix">
                                            <div class="base-inlet-checkbox float-left">
                                                <span>D0代付费用</span>
                                            </div>
                                            <div class="base-inlet-input float-left">
                                                <input type="text" name="ali_draw_fee" value="{% if form.ali_draw_fee.data != None%}{{ form.ali_draw_fee.data }}{% end %}" placeholder="请输入D0代付费用" disabled />
                                                <p style="font-size:12px;color:#999;">每笔提现手续费,精确到小数点后两位</p>
                                            </div>
                                            <span class="float-left m-left-5">元/笔</span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if jd_pay %}
                <!------------------------------------  京东支付  ------------------------------------------->
                <div class="base-inlet-pay base-inlet-rate-jdpay base-hide">
                    <h3 class="base-inlet-pay-title">京东支付</h3>
                    <div class="base-padding-20">
                        <div class="base-inlet-form base-inlet-rate clearfix base-m-tb-20">
                            <p class="base-inlet-label">配置费率：</p>
                            <table class="base-inlet-table base-rate-common">
                                <thead>
                                    <tr>
                                        <th>选择</th>
                                        <th>支付类型</th>
                                        <th>T+1费率（‰）</th>
                                    </tr>
                                </thead>
                                <tbody class="rate-body">
                                    <tr>
                                        <td><i class="base-icon-checkbox"></i></td>
                                        <td>扫码支付</td>
                                        <td><input type="text" name="JD_OFFLINE_NATIVE"
                                                                       value="{% if form.JD_OFFLINE_NATIVE.data != None%}{{ form.JD_OFFLINE_NATIVE.data }}{% end %}" disabled /></td>
                                    </tr>
                                    <tr>
                                        <td><i class="base-icon-checkbox"></i></td>
                                        <td>刷卡支付</td>
                                        <td><input type="text"  name="JD_OFFLINE_MICROPAY"
                                                                       value="{% if form.JD_OFFLINE_MICROPAY.data != None%}{{ form.JD_OFFLINE_MICROPAY.data }}{% end %}" disabled /></td>
                                    </tr>
                                    <tr>
                                        <td><i class="base-icon-checkbox"></i></td>
                                        <td>JS支付</td>
                                        <td><input type="text"  name="JD_OFFLINE_JSAPI"
                                                                       value="{% if form.JD_OFFLINE_JSAPI.data != None%}{{ form.JD_OFFLINE_JSAPI.data }}{% end %}" disabled /></td>
                                    </tr>
                                    <tr>
                                        <td><i class="base-icon-checkbox"></i></td>
                                        <td>H5支付</td>
                                        <td><input type="text"  name="JD_ONLINE_H5"
                                                                       value="{% if form.JD_ONLINE_H5.data != None%}{{ form.JD_ONLINE_H5.data }}{% end %}" disabled /></td>
                                    </tr>
                                    <tr>
                                        <td><i class="base-icon-checkbox"></i></td>
                                        <td>H5支付（借记卡）</td>
                                        <td><input type="text"  name="JD_ONLINE_H5_DEBIT"
                                                                       value="{% if form.JD_ONLINE_H5_DEBIT.data != None%}{{ form.JD_ONLINE_H5_DEBIT.data }}{% end %}" disabled /></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                {% end %}
                {% if can_use_unionpay %}
                <!------------------------------------  银联二维码支付  ------------------------------------------->
                <div class="base-inlet-pay base-inlet-rate-unionpay base-hide">
                    <h3 class="base-inlet-pay-title">银联二维码支付</h3>
                    <div class="">
                        <div class="base-inlet-form clearfix base-m-tb-20">
                            <span class="base-inlet-label float-left">银联机构号：</span>
                            <div class="base-inlet-input float-left">
                                <input type="text" name="unionpay_id"
                                       value="{% if form.unionpay_id.data != None%}{{ form.unionpay_id.data }}{% end %}" placeholder="请输入银联机构号" />
                            </div>
                        </div>
                        <div class="base-inlet-form clearfix base-m-tb-20">
                            <span class="base-inlet-label float-left">配置费率：</span>
                            <div class="base-inlet-input float-left">
                                <input type="text" name="UNIONPAY_OFFLINE_JSAPI"
                                       value="{% if form.UNIONPAY_OFFLINE_JSAPI.data != None%}{{ form.UNIONPAY_OFFLINE_JSAPI.data }}{% end %}" placeholder="请输入费率" />
                            </div>
                            <span class="float-left m-left-5">‰</span>
                        </div>
                    </div>
                </div>
                {% end %}
            </div>
        </div>


        <input type="hidden" value="" name="force_update" id="force_update">
        <div class="tabBox">
            {% autoescape None %}
            {{ error_inlet_info_html }}
            <div class="time-error"></div>
            <button type="submit" class="btn btn-default " id="search" style="background:#fff !important;color:#333;">提交</button>
        </div>
    </form>
</div>
<script>
    var has_been_authed = "{{ has_been_authed }}";

    var cmb_area = "{{ form.area.data }}";
    var cmb_province = "{{ form.cmbProvince.data }}";
    var cmb_city = "{{ form.cmbCity.data }}";
    var cmb_cmbArea = "{{ form.cmbArea.data }}";

    //费率是否存在
    var OPEN_D0='{{ OPEN_D0 }}';
    var OPEN_DINE='{{ OPEN_DINE }}';
    var ALI_0_RATE='{{ ALI_0_RATE }}';
    var WX_0_RATE='{{ WX_0_RATE }}';

    //费率选择变量
    var WX='{{ form.WX }}';
    var ALI='{{ form.ALI }}';
    var JD='{{ form.JD }}';
    var WX_OFFLINE='{{ form.WX_OFFLINE }}';
    var WX_ONLINE='{{ form.WX_ONLINE }}';
    var WX_DINE='{{ form.WX_DINE }}';
    var WX_ZERO='{{ form.WX_ZERO }}';
    var ALI_ZERO='{{ form.ALI_ZERO }}';
    var WX_D0='{{ form.WX_D0 }}';
    var ALI_D0='{{ form.ALI_D0 }}';
    var WX_D1='{{ form.WX_D1 }}';
    var ALI_D1='{{ form.ALI_D1 }}';
</script>
{% end %}

<!-- 引入js文件  start-->
{% block js %}
<script type="text/javascript" src="/static/common/libs/distpicker/distpicker.data.js"></script>
<script type="text/javascript" src="/static/common/libs/distpicker/distpicker.js"></script>
<script type="text/javascript" src="/static/official/js/distributorModifyInit.js"></script>
<script type="text/javascript" src="/static/official/js/inlet_dt_pay.js"></script>
<script type="text/javascript" src="/static/common/js/zero_rate_noedit.js"></script>
<script>
    var rate_error='{{ rate_error }}';
    if(rate_error == 'True'){
        /*$('body').ulaiberLoading({
            loadingText:'<p style="text-align:left;">渠道费率设置高于旗下部分商户费率值，修改成功后将同步调升该部分商户费率值至渠道商费率值大小</p>',
            loadingType:'comfirm',
            sureFunction:function(){
                $('#force_update').val('1');
                $('.form-horizontal').submit();
            }
        });*/
        $('#force_update').val('1');
    }
    if(has_been_authed == 'True'){
        $('.has-edit select,.has-edit input').attr('disabled',true);

        /*$('.pay-wechat tr').each(function(){
            console.log($(this).children().find('input[type="text"]').attr('name')+':::'+$(this).children().find('input[type="text"]').val());
            if($(this).children().find('input[type="text"]').val() == '0' && $(this).children().find('input[type="text"]').attr('readonly')){
                $('.pay-wechat .dt-dzero-show,.pay-wechat .dt-dzero-choose').remove();
            }
        });
        $('.pay-alipay tr').each(function(){
            console.log($(this).children().find('input[type="text"]').attr('name')+':::'+$(this).children().find('input[type="text"]').val());
            if($(this).children().find('input[type="text"]').val() == '0' && $(this).children().find('input[type="text"]').attr('readonly')){
                $('.pay-alipay .dt-dzero-show,.pay-alipay .dt-dzero-choose').remove();
            }
        });*/
    }
</script>

{% end %}
<!-- 引入js文件  end-->