{% extends '../base.html' %}

{% block title %}
<title>交易账单（商户）</title>
{% end %}

{% block css %}
{% end %}

{% block content %}
<div class="form-horizontal" style="padding-top:50px;">
    <form action="/common/downloads_bill" class="form-horizontal base-rec-form">
        <input type="hidden" name="charac_id" value="1">
        <input type="hidden" name="query_charac" value="2">
        <input type="hidden" name="id" value="{{ id }}">
        <div class="form-group" style="margin-bottom:20px;">
            <label class="col-md-2" style="text-align: right;">创建时间:</label>
            <div class="col-md-2">
                <input type="text" class="form_datetime form-control" id="create_at_start" name="create_at_start"
                       placeholder="请选择开始时间" value="">
            </div>
            <span style="float:left;">—</span>
            <div class="col-md-2">
                <input type="text" class="form_datetime form-control" id="create_at_end" name="create_at_end"
                       placeholder="请选择结束时间" value="">
            </div>
        </div>
        <div class="col-lg-offset-2 error-tip" style="margin-bottom:20px;display:none;"></div>
        <div class="col-lg-offset-2" style="padding-left:5px;">
            <button type="submit" data-click="send" class="btn btn-default">下载对账单</button>
        </div>

    </form>
</div>
{% end %}

<!-- 引入js文件  start-->
{% block js %}
<script src="/static/common/js/downloads_bill_controller.js"></script>
{% end %}
<!-- 引入js文件  end-->