{% extends '../base.html' %}

{% block title %}
<title>退款密码管理(连锁商户)</title>
{% end %}

{% block css %}
{% end %}

{% block content %}

<div class="row index-row">
    <div class="hf-head">
        <div class="headBox">
			<span class="headLi">
				<a>系统设置(退款密码管理)</a>
			</span>
        </div>
    </div>

    <div id="main-content">
        <div class="formlist">
            <h4>设置/修改退款密码</h4>
            <a class="btn btn-primary modify-passWord" data-toggle="modal" data-target="#modify-passWord">设置/修改密码</a>
        </div>

        <!-- 模态框（Modal） -->
        <div class="modal fade" id="modify-passWord" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <span>修改密码</span>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="passwordClose">
                            ×
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="input-group" id="authCode">
                            <input type="text" class="form-control" placeholder="输入验证码" name="auth_code" id="auth_code" maxlength="6">
                            <span class="input-group-addon">
                                <input type="button" id="btnPass" class="btn-background" value="获取验证码"/>
                            </span>
                        </div>
                        <div class="account" ></div>
                        <div class="nextStep">
                            <button class="btn btn-primary btn-block">下一步</button>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.modal -->

        <!--下一步-->
        <!-- 模态框（Modal） -->
        <div class="modal fade" id="setPassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="fa fa-arrow-left pull-left previous"></span>
                        <span>设置密码</span>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="newPassClose">
                            ×
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="form-inline" method="get" role="form" action="">
                            <input type="password" class="form-control" placeholder="输入6位新密码" name="newPwd" id="newPwd" maxlength="6">
                            <input type="password" class="form-control" placeholder="确认密码" name="checkPwd" id="checkPwd" maxlength="6">
                        </form>
                        <div class="passW_complete">
                            <button type="submit" class="btn btn-primary" id="modify">完成</button>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.modal -->

    </div>
</div>
{% end %}


<!-- 引入js文件  start-->
{% block js %}
<script type="text/javascript">
    var status = 1;
    $().ready(function(){
        if(status == 1){
            var wait = 59;
            var $btnPass = document.getElementById("btnPass");
            function time(o) {
                if (wait == 0) {
                    o.removeAttribute("disabled");
                    o.value = "获取验证码";
                    $("#btnPass").addClass("btn-background");
                    wait = 59;
                } else {
                    o.setAttribute("disabled", true);
                    o.value = "重新发送(" + wait + ")";
                    wait--;
                    $("#btnPass").removeClass("btn-background");
                    setTimeout(function () {
                        time(o)
                    }, 1000)
                }
            }

             //绑定点击事件
            $btnPass.onclick = function () {
                //调用倒计时函数
                time(this);
                var account = $('.account');
                $(".account").show();
                account.removeClass("account-backg");
                $.ajax({
                    type: 'GET',
                    dataType: 'json',
                    url: '/chain/settings/refund/password/auth/code',
                    beforeSend: function (XMLHttpRequest) {
                        // 请求前处理
                    },
                    success: function (res) {
                        // 请求成功处理
                        if (res.code == 200) {
                            var appendHtml = "验证码已发送至" + res.data;
                            account.text(appendHtml);
                            //下一步绑定点击
                            $(".nextStep").on("click", function () {
                                var auth_code = $('#auth_code').val();
                                $(".num-tip-pwd").remove();
                                if(auth_code == ''){
                                    account.text("请输入验证码");
                                    account.addClass("account-backg");
                                    return;
                                }else if(auth_code.length < 5){
                                    account.text("验证码错误");
                                    account.addClass("account-backg");
                                    return;
                                }else{
                                    $.ajax({
                                        type: 'GET',
                                        dataType: 'json',
                                        data: {'auth_code': auth_code},
                                        url: '/chain/settings/refund/password/auth',
                                        beforeSend: function (XMLHttpRequest) {
                                            // 请求前处理
                                        },
                                        success: function (res) {
                                            // 请求成功处理
                                            if (res.code == 200) {
                                                $(".account").hide();
                                                //第一层弹框关闭
                                                $('#passwordClose').trigger("click");
                                                //第二层弹框激活
                                                $('#setPassword').modal();
                                                $('.previous').on("click", function () {
                                                    $('.modify-passWord').trigger("click");
                                                    $('#newPassClose').trigger("click");
                                                });
                                                var $modify = document.getElementById("modify");
                                                //绑定下一步
                                                $modify.onclick = function () {
                                                    var newPwd = $("#newPwd").val();
                                                    var checkPwd = $("#checkPwd").val();
                                                    $(".num-tip-pwd").remove();
                                                    //限制数字
                                                    var reg = new RegExp("^[0-9]*$");
                                                    if(!reg.test(newPwd) && !reg.test(checkPwd)){
                                                        $("#checkPwd").after("<div class='num-tip-pwd'>请输入6位数字密码</div>");
                                                    }else if(newPwd.length < 6 && checkPwd.length < 6){
                                                        $("#checkPwd").after("<div class='num-tip-pwd'>请输入6位数字密码</div>");
                                                    }else if(newPwd == "" && checkPwd == ""){
                                                        $("#checkPwd").after("<div class='num-tip-pwd'>密码不能为空</div>");
                                                    }else if(newPwd != checkPwd){
                                                        $("#checkPwd").after("<div class='num-tip-pwd'>两次密码不一致</div>");
                                                    }else{
                                                        $.ajax({
                                                            type: 'GET',
                                                            dataType: 'json',
                                                            data: {'newPwd': newPwd, 'checkPwd': checkPwd},
                                                            url: '/chain/settings/refund/password/modify',
                                                            beforeSend: function (XMLHttpRequest) {},
                                                            success: function (res) {
                                                                if (res.code == 200){
                                                                    $('#setPassword').modal('hide');
                                                                }
                                                            },
                                                            complete: function (XMLHttpRequest, textStatus) {},
                                                            error: function () {}
                                                        });
                                                    };
                                                }

                                            } else {
                                                account.text("验证码错误");
                                                account.addClass("account-backg");
                                            }
                                        },
                                        complete: function (XMLHttpRequest, textStatus) {
                                            // 完成请求处理
                                        },
                                        error: function () {
                                            // 请求出错处理
                                            $('#main-content').append("<div class='newsBox'>退款成功</div>");
                                            $('.newsBox').delay(1000).fadeOut(2000);
                                        }
                                    });
                                }
                            });

                        } else {
                            alert("获取失败")
                        }
                    },
                    complete: function (XMLHttpRequest, textStatus) {
                        // 完成请求处理
                    },
                    error: function () {
                        // 请求出错处理
                        alert("操作失败");
                    }
                });
            };


        }
    })
</script>
{% end %}
<!-- 引入js文件  end-->