*.pyc
*.log
*.lock
.DS_Store
dump.rdb
*/*.xml
.DS_Store
*.pyc
*.pyo
*.egg-info
*.bak
*.sql
*.pid
*.db
*.swp
# virtualenv
env
.idea
*.sqlite
*.rdb
*.xls
!uline/test/db_test/business_category.xlsx
!uline/test/db_test/boka.xls
downloads/*
uploads/*
logfile
!uline/static/handbook/mch_inlet_template.xls
/.python-version
/uline/data/
/static/uploads/
/uline/static/uploads/
/uline/node_modules/
/celerybeat-schedule
/dev_util/stage/
/uline/static/handbook/ULINE_BANK_INFO.xlsx
/uline/static/downloads/
uline/.scannerwork
tags
stage
/*.vscode
