{% extends '../base.html' %}

{% block title %}
<title>商户结算详情(同业银行)</title>
{% end %}

{% block css %}
{% end %}

{% block content %}
<div class="row index-row">
    <div class="hf-head">
        <div class="headBox">
			<span class="headLi">
				<img src="/static/common/image/biaozhi.png"  />
				<a href="/inter_bank/balance/mch">结算管理(商户结算)</a>
				<span class="advancing">></span>
				<a href="javascript:;">商户结算详情</a>
			</span>
        </div>
    </div>

    <div id="main-content">

        <div class='formlist'>
            <h4>商户信息</h4>
            <div>
                <label>清算日期</label>
                <span>{{ data['create_at'] or '' }}</span>
            </div>

            <div>
                <label>交易日期</label>
                <span>{{ data['need_pay_time'] or '' }}</span>
            </div>

            <div>
                <label>商户名称</label>
                {% if data['cs_id'] %}
                <span>{{ data['cs_dt_name'] or '' }}</span>
                {% else %}
                <span>{{ data['mch_name'] or '' }}</span>
                 {% end %}
            </div>

            <div>
                <label>商户简称</label>
                {% if data['cs_id'] %}
                <span>{{ data['cs_dt_shortname'] or '' }}</span>
                {% else %}
                <span>{{ data['mch_shortname'] or '' }}</span>
                {% end %}
            </div>

            {% if data['cs_id'] %}
            <div>
                <label>门店名称</label>
                <span>{{ data['mch_name'] or '' }}</span>
            </div>

            <div>
                <label>门店简称</label>
                <span>{{ data['mch_shortname'] or '' }}</span>
            </div>
            {% end %}

            <div>
                <label>商户编号</label>
                {% if data['cs_id'] %}
                <span>{{ data['cs_id'] or '' }}</span>
                {% else %}
                <span>{{ data['mch_id'] or '' }}</span>
                {% end %}

            </div>

            {% if data['cs_id'] %}
             <div>
                <label>门店编号</label>
                <span>{{ data['mch_id'] or '' }}</span>
             </div>
            {% end %}

            <!--<连锁商户上面的渠道商,普通商户上面的渠道商>-->
            <div>
                <label>所属渠道商</label>
                <span>{{ data['dt_name'] or '' }}</span>
            </div>

            <div>
                <label>金额</label>
                <span class="formatting-money">{{ data['tranAmt'] or '' }}</span>
            </div>

            <div>
                <label>支付渠道</label>
                <span>{{ data['channel'] or '' }}</span>
            </div>

            <div>
                <label>状态</label>
                <span>{{ data['pay_status'] or '' }}</span>
            </div>

            <div>
                <label>详情</label>
                <span>{{ data['failure_details'] or '' }}</span>
            </div>
        </div>

        <div class='formlist'>
            <h4>结算信息</h4>
            <div>
                <label>结算户名</label>
                <span>{{ data['rcvAcctName'] or '' }}</span>
            </div>

            <div>
                <label>结算银行</label>
                <span>{{ data['rcvBankName'] or '' }}</span>
            </div>

            <div>
                <label>支行联行号</label>
                <span>{{ data['bank_no'] or '' }}</span>
            </div>

            <div>
                <label>结算账号</label>
                <span>{{ data['balance_account'] or '' }}</span>
            </div>

        </div>

        <!--<table class="table table-striped">-->
            <!--<h4>划付记录：</h4>-->
            <!--<thead>-->
                <!--<tr>-->
                    <!--<th>时间</th>-->
                    <!--<th>状态</th>-->
                    <!--<th>操作</th>-->
                <!--</tr>-->
            <!--</thead>-->
            <!--<tbody id="tbodyBox">-->
                <!--<tr>-->
                    <!--<td>2016-09-01</td>-->
                    <!--<td>划付失败</td>-->
                    <!--<td>-->
                        <!--<div class="modal fade" id="myModal-li" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"-->
                             <!--aria-hidden="true">-->
                            <!--<div class="modal-dialog">-->
                                <!--<div class="modal-content">-->
                                    <!--<div class="modal-header">-->
                                        <!--<button type="button" class="close" data-dismiss="modal"-->
                                                <!--aria-hidden="true">&times;</button>-->
                                    <!--</div>-->
                                    <!--<div class="modal-body">-->
                                        <!--<h3>你提交的申请与银行的对账金额不符合1313</h3>-->
                                    <!--</div>-->
                                    <!--<div class="modal-footer center-block">-->
                                    <!--</div>-->
                                <!--</div>&lt;!&ndash; /.modal-content &ndash;&gt;-->
                            <!--</div>&lt;!&ndash; /.modal &ndash;&gt;-->
                        <!--</div>-->
                        <!--<a href='#' data-toggle="modal" data-target="#myModal-li">详情</a>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>2016-09-01</td>-->
                    <!--<td>划付成功</td>-->
                    <!--<td>-->
                        <!--<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"-->
                             <!--aria-hidden="true">-->
                            <!--<div class="modal-dialog">-->
                                <!--<div class="modal-content">-->
                                    <!--<div class="modal-header">-->
                                        <!--<button type="button" class="close" data-dismiss="modal"-->
                                                <!--aria-hidden="true">&times;</button>-->
                                    <!--</div>-->
                                    <!--<div class="modal-body">-->
                                        <!--<h3>你提交的申请与银行的对账金额不符合</h3>-->
                                    <!--</div>-->
                                    <!--<div class="modal-footer center-block">-->
                                    <!--</div>-->
                                <!--</div>&lt;!&ndash; /.modal-content &ndash;&gt;-->
                            <!--</div>&lt;!&ndash; /.modal &ndash;&gt;-->
                        <!--</div>-->
                        <!--<a data-toggle="modal" data-target="#myModal">详情</a>-->
                    <!--</td>-->
                <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
    </div>
</div>
{% end %}
<!-- 引入js文件  start-->
{% block js %}
{% end %}
<!-- 引入js文件  end-->
