<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:p="http://www.springframework.org/schema/p"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop-3.0.xsd" default-autowire="byName" default-lazy-init="false">
		
    <!-- auto annotation -->
	<context:annotation-config />
	
	<!-- aop annotation -->
	<aop:aspectj-autoproxy />
	<!-- 应用上下文bean -->
	<bean id="beanHolder" class="com.kyl.ps.util.BeanHolder" />
    <!-- scan component: @Service, @Component .etc -->
	<context:component-scan base-package="com.kyl.ps.infrastructure.service" />
	<context:component-scan base-package="com.kyl.ps.infrastructure.dao" />


	
	<!-- 定义日志拦截切面 -->
	<bean class="com.kyl.ps.jee.aspect.ServiceAutoLogAspect" />
	
	 <!-- 定义统一的异常处理类 -->
	<bean id="myHandlerExceptionResolver" class="com.kyl.ps.exception.MyHandlerExceptionResolver"/>  
	
	<!-- 国际化资源加载类 -->
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">      
	     <property name="basenames"> 
	          <list>
	                <value>/properties/common</value>
	          </list>
		</property>
	</bean>
	<!--<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"
				p:defaultEncoding="UTF-8"
				p:maxUploadSize="5400000"
				p:uploadTempDir="fileUpload/temp">
	</bean>-->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="104857600" />
		<property name="maxInMemorySize" value="4096" />
		<property name="defaultEncoding" value="UTF-8"></property>
	</bean>
	<!-- 引入数据源上下文 -->
	<import resource="classpath*:dataAccessContext.xml"/>
	
	<import resource="classpath*:taskContext.xml"/>
	
	
	

	

</beans>
