<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>修改密码</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <!--引入样式-->
    <link rel="stylesheet" href="/static/common/libs/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/common/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/common/css/login.css">
</head>
<body>
<div class="padBox">
    <div class="pad-img">
        <img src="/static/common/image/logo_1.png" alt="logo"/>
    </div>
    <div class="pufa-header">
        <img src="/static/common/image/pufa_logo.png" />
        <span class="uline-lg">ULINE</span>
        <span class="uline-ht">连锁商户后台</span>
    </div>
    <div class="stepInfo">
        <div class="Info">
            <div class="backgd"></div>
            <div></div>
        </div>
        <div class="stepIco stepIco1">1
            <div class="stepText">输入账号</div>
        </div>
        <div class="stepIco stepIco2 backgd">2
            <div class="stepText">输入验证码</div>
        </div>
        <div class="stepIco stepIco3">3
            <div class="stepText">修改密码</div>
        </div>
    </div>


    <form class="form pas-input" method="post" action="/chain/forgetpwd/auth">
        {% module xsrf_form_html() %}
        <div class="input-group form-group" id="authCode">
            <input class="form-control" type="text" placeholder="请输入验证码" name="auth_code" id="auth_code"/>
            <span class="input-group-addon"><input type="button" id="btn" value="免费获取验证码"/></span>
            <input class="form-control hidden" type="text" name="token" id="token" readonly="readonly" value="{{ token or '' }}"/>
        </div>
        <div id="account"></div>
        <button class="btn btn-block" id="xBtn">下一步</button>

    </form>


    <div class="pad-footer">
        Copyright©2006-2016
    </div>

</div>

<script type="text/javascript" src="/static/common/libs/jquery.min.js"></script>
<script type="text/javascript" src="/static/common/libs/bootstrap/js/bootstrap.min.js"></script>
<script> var env = '{{ env}}';</script>
<script src="/static/common/js/pufa_ui.js"></script>
<script>
    var token = "{{ token }}";
    window.onload = function () {
        var wait = 60;

        function time(o) {
            if (wait == 0) {
                o.removeAttribute("disabled");
                o.value = "免费获取验证码";
                wait = 60;
            } else {

                o.setAttribute("disabled", true);
                o.value = "重新发送(" + wait + ")";
                wait--;
                setTimeout(function () {
                            time(o)
                        },
                        1000)
            }
        }

        document.getElementById("btn").onclick = function () {
            time(this);
            $.ajax({
                type: 'GET',
                data: {"token": token},
                dataType: 'json',
                url: '/chain/forgetpwd/auth/code',
                beforeSend: function (XMLHttpRequest) {
                    // 请求前处理
                },
                success: function (res) {
                    // 请求成功处理
                    if (res.code == 200) {
                        var auth_code = $('#account');
                        console.log(auth_code)
                        var appendHtml = "<p>已发送至" + res.data +"</p>";
                        auth_code.append(appendHtml);

                    } else {
                        alert("获取失败")
                    }
                },
                complete: function (XMLHttpRequest, textStatus) {
                    // 完成请求处理
                },
                error: function () {
                    // 请求出错处理
                    alert("操作失败");
                }
            });
        }

    }
</script>
</body>
</html>
